<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dreamsofpines.mcunost">
    <permission android:name="android.permission.CALL_PHONE"/>
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/untitled"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name=".ui.activities.LogoActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".ui.activities.CategoriesActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LogInActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>